#moving-image {
    position: absolute;
    border-radius: 50%;
    
    z-index: 5;
}

#wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

#tablero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#panel{
    display: flex;
    flex-direction: column;
}